.Sider-custom {
  background-color: #0a043c;
  .Sider-menu {
    background-color: #0a043c;
    .ant-menu-submenu {
      // margin-left: 10px;
      .ant-menu-submenu-title {
        font-size: 16px;
        // margin-left: 8px;
        .anticon {
          font-size: 20px;
        }
      }
    }
    .ant-menu-item {
      .anticon.anticon-file.ant-menu-item-icon {
        // margin-left: 12px;
      }
    }
    .anticon {
      font-size: 20px;
    }
  }
  .ant-layout-sider-trigger {
    background-color: #060930;
  }
}
