.form_item {
  .ant-form-item-control-input {
    .ant-input {
      width: 450px;
      height: 40px;
    }
  }
}
.form_item1 {
  .ant-form-item-control-input {
    .ant-input-password {
      width: 450px;
      height: 40px;
    }
  }
}
